/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* белый текст #FFFFFF */

/* цвет акцента #2196F3 */

/* цвет фона основной #FFFFFF */

/* цвет фона вторичный #2F303A */

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400px;
    color: #212121;
    background-color: #FFFFFF;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;
    --studio-word-color: #000000;
    --icon-static-color: #afb1b8;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-style: normal;
}

a:hover,
a:focus {
    color: var(--accent-color);
}

.header-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-nav-container {
    display: flex;
}

.site-nav-container .item:not(:last-child) {
    margin-right: 50px;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}
.logo-header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-fisrt-word {
    color: var(--accent-color);
}
.logo-second-word {
    color: var(--studio-word-color);
}

.site-nav-container .item a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
}
.site-nav-container .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav-container .item a:hover,
.site-nav-container .item a:focus {
    color: var(--accent-color);
}

.address {
    font-style: normal;
    font-weight: 500;
}

.studio-page {
    color: var(--accent-color);
}

.portfolio-page {
    color: var(--accent-color);
}

.address {
    margin-left: auto;
}

.auth-nav {
    display: flex;
    align-items: center;
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .item a {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.14;
}
.auth-nav .item a:hover,
.auth-nav .item a:focus {
    color: var(--accent-color);
}

.auth-nav > .item {
    display: flex;
    align-items: center;
}

.connect-us-icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
}
.connect-us-icon:hover,
.connect-us-icon:focus {
    fill: var(--accent-color);
}

.hero-container {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary-background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bg-img.jpg);
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.modal-btn {
    display: inline-block;
    margin: 0 auto;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.857;
    letter-spacing: 0.06em;
    color: var(--primary-background-color);
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-container {
    margin-bottom: 30px;
    padding: 25px 100px;
    background: #F5F4FA;
    border-radius: 4px;
}

.icon {
    width: 70px;
    height: 70px;
    display: block;
}

.why-us-list {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.why-us-item {
    width: 270px;
}

.why-us-item:not(:last-child) {
    margin-right: 30px;
}

.why-us-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.why-us-description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.section-title {
    margin: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.features-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
    margin: 0 auto;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-item {
    position: relative;
    display: block;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-img {
    display: block;
}

.overlay-studio-page {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.overlay-studio-page-text {
    display: block;
    height: 100%;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.429;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.team-section {
    background-color: var(--third-background-color);
}

.team-container {
    width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
}

.team-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-item {
    padding-bottom: 30px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-member-photo {
    margin-bottom: 30px;
}

.team-member-name {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-member-position {
    margin: 0px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.social-links-list {
    display: flex;
    justify-content: center;
}

.social-link-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--primary-background-color);
}
.social-link-item:hover,
.social-link-item:focus {
    background-color: var(--accent-color);
}

.social-link-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-static-color);
}
.social-link-icon:hover,
.social-link-icon:focus {
    fill: #FFFFFF;
}

.clients-section {
    width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
}

.client-list {
    display: flex;
    justify-content: center;
}

.client-item {
    width: 170px;
    height: 90px;
    display: flex;
    
}
.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    width: inherit;
    border: 1px solid var(--icon-static-color);
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

.client-icon {
    fill: var(--icon-static-color);
}
.client-icon:hover,
.client-icon:focus {
    fill: var(--accent-color);
}

.google-maps {
    color: var(--white-text-color);
}

.footer {
    color: rgba(255, 255, 255, 0.6);;
    background: var(--secondary-background-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.footer-container {
    width: 1200px;
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.footer-container-left {
    margin-right: 70px;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.logo-footer {
    display: block;
    margin: 0;
    margin-bottom: 20px;
}
.logo-second-word-footer {
    color: var(--white-text-color);
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.footer-connect {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.143;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin: 0;
    margin-bottom: 20px;
}

.social-link-list-item-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}
.social-link-list-item-footer:hover,
.social-link-list-item-footer:focus {
    background-color: var(--accent-color);
}
.social-link-list-item-footer:not(:last-child) {
    margin-right: 10px;
}

.social-link-item-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-link-icon-footer {
    width: 20px;
    height: 20px;
    fill: var(--white-text-color);
}

.projects-section {
    width: 1200px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-list {
    padding: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--third-background-color);
    border-radius: 4px;
    border: none;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-text-color);
    background-color:  var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.projects-item {
    position: relative;
    display: block;
    width: 370px;
    height: 404px;
    margin-right: 30px;
    border: 1px solid #EEEEEE;
}
.projects-item:hover,
.projects-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-item:hover .overlay {
    opacity: 1;
}

.projects-item:nth-child(-n+6) {
    margin-bottom: 30px;
}

.project-img {
    margin-bottom: 20px;
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.project-name {
    margin: 0px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.project-description {
    margin: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 294px; 
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
}

.overlay-text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    
}